body {
    margin: 0 auto;
    max-width: 80em;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.5;
    padding: 4em 2em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
}
