<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chantilly</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div id="app">
    <header id="header">
      <a href="https://github.com/creme-ml/chantilly">
        <img class="header-image" src="{{ url_for('static', filename='logo.svg') }}" >
      </a>
      <h2 class="title has-text-centered">
        👅 [[ config.flavor ? 'Flavor: ' + config.flavor : 'You need to select a flavor' ]]
      </h2>
    </header>

    <main>

      <div class="columns is-8">
        <div class="column">

          <h2 class="title">🎯 Metrics</h2>
          <p v-if="metricsUpdateMoment" class="has-text-grey">
            Last updated [[ metricsUpdateMoment.fromNow() ]]
          </p>
          <p v-else class="has-text-grey">
            No updates yet
          </p>
          <hr>

          <div class="columns is-centered">
            <div class="column is-one-third" v-for="(value, name) in metrics">
              <div class="card">
                <div class="card-content">
                  <p class="title has-text-centered">[[ numberFormatter.format(value) ]]</p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item"><span>[[ name ]]</span></p>
                </footer>
              </div>
            </div>
          </div>

          <div v-for="name in chartsNames" class="has-text-centered">
            <br>
            <h3 class="subtitle">[[ name ]]</h3>
            <canvas :id="name"></canvas>
          </div>

        </div>

        <div class="column">

          <h2 class="title">🔔 Events</h2>
          <p v-if="eventsUpdateMoment" class="has-text-grey">
            Last updated [[ eventsUpdateMoment.fromNow() ]]
          </p>
          <p v-else class="has-text-grey">
            No updates yet
          </p>
          <hr>
          <transition-group name="event-list" tag="div">
            <div v-for="event in events" v-bind:key="event.no">
              <article class="message" v-bind:class="event.type === 'learn' ? 'is-link' : 'is-primary'">
                <div class="message-header">
                  <p>[[ event.type === 'learn' ? 'Learn' : 'Predict' ]]</p>
                  <p>[[ event.moment.fromNow() ]]</p>
                </div>
                <div class="message-body">
                  <pre style="background-color: transparent; text-align: left; color: inherit; padding: 0;">[[ event.data ]]</pre>
                </div>
              </article>
              <br>
            </div>
          </transition-group>
        </div>

      </div>

    </main>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
      var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
          config: {},
          metrics: {},
          chartsNames: [],
          charts: {},
          numberFormatter: new Intl.NumberFormat(),
          metricsUpdateMoment: null,
          eventsUpdateMoment: null,
          events: [],
          eventCounter: 0
        },
        mounted: function() {
          // Get the current flavor
          const options = {method: 'GET', headers: {'Accept': 'application/json'}};
          fetch("{{ url_for('api.init') }}", options)
            .then(r => r.json())
            .then(config => { this.config = config })
            .catch(error => console.error(error));


          // Get the current metrics
          fetch("{{ url_for('api.metrics') }}", options)
            .then(r => r.json())
            .then(metrics => {
              this.metrics = metrics;
              this.metricsUpdateMoment = moment();
              this.chartsNames = Object.keys(metrics);
            })
            .then(() => this.initCharts())
            .catch(error => console.error(error));

          // Listen for metric updates
          var metricUpdates = new EventSource("{{ url_for('api.stream_metrics') }}");
          metricUpdates.onmessage = e => {
            var metrics = JSON.parse(e.data);
            this.metrics = metrics;
            this.metricsUpdateMoment = moment();
            for (let [name, value] of Object.entries(this.metrics)) {
              this.charts[name].data.datasets[0].data.push({
                x: this.metricsUpdateMoment,
                y: value
              });
              this.charts[name].update();
            }

          };

          // Listen for event updates
          var eventUpdates = new EventSource("{{ url_for('api.stream_events') }}");
          eventUpdates.addEventListener('predict', e => {
            var event = {
              type: 'predict',
              data: JSON.parse(e.data),
              moment: moment(),
              no: this.eventCounter++
            };
            this.events = [event].concat(this.events).slice(0, 10);
            this.eventsUpdateMoment = moment();
          })
          eventUpdates.addEventListener('learn', e => {
            var event = {
              type: 'learn',
              data: JSON.parse(e.data),
              moment: moment(),
              no: this.eventCounter++
            };
            this.events = [event].concat(this.events).slice(0, 10);
            this.eventsUpdateMoment = moment();
          });
        },
        methods: {
          initCharts: function() {
            this.chartsNames.forEach(name => {
              var ctx = document.getElementById(name).getContext('2d');
              var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                  datasets: [{
                    borderColor: '#d5a6bd',
                    pointBackgroundColor: '#d5a6bd',
                    lineTension: 0.,
                    pointRadius: 0.,
                    fill: false,
                    data: [{
                      x: moment(),
                      y: this.metrics[name]
                    }]
                  }]
                },

                // Configuration options go here
                options: {
                  scales: {
                    xAxes: [{
                      type: 'time',
                      distribution: 'linear'
                    }]
                  },
                  legend: {
                    display: false
                  },
                }
              });
              this.charts[name] = chart
            });
          }
        }
      })
    </script>

    <style lang="css">
      /* https://vuejs.org/v2/guide/transitions.html#List-Transitions */
      .event-list-enter-active, .event-list-leave-active {
        transition: all 1s;
      }
      .event-list-enter, .event-leave-to {
        opacity: 0;
        transform: translateY(-30px);
      }
      .event-list-move {
        transition: transform 1s;
      }
    </style>

</body>
</html>
