<!DOCTYPE html>
<html>
<head>
    <title>Chantilly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div id="app">
        <header id="header">
            <h1>Chantilly</h1>
        </header>

        <main>
            <h2>Metric</h2>
            <p>
                [[ message ]]
            </p>

            <div v-for="(score, name) in metrics">
                [[ name ]]: [[ score ]]
            </div>

        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                message: 'Hello Vue!',
                metrics: {
                    'MSE': null
                }
            },
            mounted: function() {
                var es = new EventSource("{{ url_for('api.metric_updates') }}");
                var self = this;
                es.onmessage = function(e) {
                    var metrics = JSON.parse(e.data);
                    self.metrics = metrics;
                };
            }
        })
    </script>

    <script>

    </script>

</body>
</html>
